
body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.top-bar {
    margin-top: 0.5px;
    margin-left: 0.25px;
}

h2 {
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 0.25px;
}

.middle {
    margin-top: 200px;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30 px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 14px;
}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.register-btn {
    height: 50px;
    width: 300px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
    margin-bottom: 325px;
    position: absolute;
    font-size: 20px;
}

h1 {
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;

}


.search-field {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.services {
    width: 400px;
}

.location {
    width: 200px;
}

.search-btn {
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}

.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
}

.form-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;

}